.exercise-container
  position fixed
  left 65px
  top 135px
  width 500px
  
.exercise-name
  margin-bottom 14px
  
.exercise-description
  font-size 24px
  font-weight 300
  color #7D7D7D

.exercise-image
  width 655px
  margin-left -105px
  margin-top 30px

.exercise-video
  height auto
  width 540px
  margin-top 50px
  border-radius 2px
  