.finished-container
  text-align center
  padding-top 12px

.finished-title
  margin-bottom 12px
  
.finished-map
  width 505px
  margin 45px auto
  
.finished-quote
  font-weight 300
  font-size 24px
  color #7D7D7D

.finished-next-label
  color rgba(black, 54%)
  font-size 16px
  font-weight 500
  margin-right 15px
