@import "normalize.css";
@import "CircularProgress"
@import "TopBar"
@import "SetsContainer"
@import "ExerciseContainer"
@import "Waiting"
@import "Finished"
@import "WorkoutSummary"

*
  box-sizing border-box

html, body
  -webkit-tap-highlight-color transparent
  
body
  background-color black
  // background-color #E4DEE0
  font-family 'Helvetica Neue', sans-serif
  
.u-hidden
  display none

.h1
  font-size 48px
  font-weight 300
  color black
  


.screen
  background-color #E4DEE0
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  transition transform 0.25s ease-in-out
    
  &.screen-zoom-out
    transform scale(0.95)
    

.main-container
  position absolute
  top 0
  right 0
  bottom 0
  left 0
