@import "normalize.css";
@import "CircularProgress"
@import "TopBar"
@import "SetsContainer"
@import "ExerciseContainer"
@import "Waiting"
@import "Finished"

*
  box-sizing border-box
  
body
  background-color #E4DEE0
  font-family 'Helvetica Neue', sans-serif

.u-hidden
  display none

.h1
  font-size 48px
  font-weight 300
  color black