.sets-container
  position fixed
  bottom 20px
  right 20px
  width 370px
  background-color transparent
  max-height 620px
  overflow-y auto
  -webkit-overflow-scrolling: touch; /* lets it scroll lazy */



.sets-item
  overflow hidden
  border-radius 2px
  margin-bottom 12px
  &:last-child
    margin-bottom 0
  
.set-item-row
  background-color white


.set-start-first
  background-color #36B67D //green
  color white
  font-size 24px
  line-height 36px
  text-align center
  padding 60px 20px
  transition all 500ms

.set-start-first-done
  background-color rgba(white, 0%)
  color black
  padding 10px
  
  .set-start-first-icon
    width 0
    opacity 0
    
.set-start-first-icon
  width 28px
  margin-left 8px
  vertical-align middle
  margin-top -4px
  transition all 250ms

.set-next-big
  background-color #36B67D //green
  color white
  font-size 24px
  line-height 36px
  text-align center
  padding 60px 20px
  
  .set-next-big-icon
    width 57px
    vertical-align middle


.set-trainer-tips
  padding 12px
  p
    font-size 14px
    line-height 22px
    color rgba(black, 72%)

      

      

.set-trainer-title
  font-size 16px
  font-weight 300
  color rgba(black, 54%)
  > *
    vertical-align middle

.set-trainer-avatar
  width 26px
  vertical-align middle
  margin-right 6px
  

.set
  background-color white
  overflow hidden
  border-radius 2px

.set-unfinished
  opacity 0.35
  .set-completed-marker
    display none

.set-completed
  opacity 0.6
  background-color #36B67D //green
  color white !important
  
  .set-number
  .set-reps
  .set-weight
  .set-sublabel
    color white !important
    text-align center
  
  .set-number
    display none
  
  .set-reps
  .set-weight
    flex-grow 3 !important
    
  .set-completed-marker
    flex-grow 1
    text-align center
    .set-completed-icon
      width 26px
      vertical-align middle

.set-active
  .set-item-row
    position relative
    text-align center
    height 70px
    line-height 70px
    border-bottom 1px solid #E7E7E7
    &:last-child
      border-bottom 0
    
    &.set-item-row-gray
      background-color #F4F4F4
    
  .set-number
    font-size 14px
    line-height 22px
    font-weight 500
    color rgba(black, 54%)
    display table
    
    width 100%
    
    .set-number-inner
      display table-cell
      vertical-align middle
      text-align center
    
    .set-number-note
      color rgba(black, 75%)
      font-size 16px    
  
  .set-reps
  .set-weight
    font-size 36px
    color black

  .set-reps-none
    display none
  
  .set-sublabel
    font-size 14px
    font-weight 500
    color rgba(black, 54%)
    position absolute
    bottom 18px
    left 60%
    line-height 20px
    

.set-collapsed
  display flex
  height 70px
  line-height 70px
  
  .set-number
    flex 1
    font-size 14px
    font-weight 500
    color black
    opacity 0.54
    padding-left 20px
    
  .set-reps
  .set-weight
    flex 1
    font-size 36px
    color black
    
    
  .set-sublabel
    font-size 14px
    font-weight 500
    color black
    opacity 0.54
    margin-left 5px    

.set-finish
  text-align center
  height 66px
  line-height 66px
  background-color #DE5A5A
  color white
  font-size 24px

.set-adjust-btn
  height 70px
  line-height 64px
  width 70px
  
  color rgba(black, 10%)
  border-radius 1px solid black
  text-decoration none
  
.set-adjust-minus
  position absolute
  top 0px
  left 0px
  font-size 24px

.set-adjust-plus
  position absolute
  top 0px
  right 0px
  font-size 34px

.set-rest
  position relative
  height 130px
  line-height 130px
  margin-top 12px
  text-align center
  .set-rest-content
    position relative
    z-index 2
    color rgba(black, 34%)
    font-weight 500
    font-size 14px
  
    .set-rest-num
      color black
      font-size 36px
      font-weight 400
      vertical-align top
      padding 0 5px
      display inline-block
  
  .set-rest-inner
    position absolute
    z-index 1
    top 0
    left 0
    bottom 0
    width 50%
    background-color rgba(#CDD4DB, 20%)
    transition width 250ms linear


