.top-bar
  padding 16px
  display flex
  position relative
  z-index 2

.top-bar-section
  flex 1

.top-bar-left
  text-align left

.top-bar-right
  text-align right

.user-avatar
  display inline-block
  vertical-align middle
  width 55px
  margin-right 10px

.user-info
  display inline-block
  vertical-align middle

.user-name
  font-size 18px
  color black

.user-heartbeat
  margin-top 1px
  
.user-heartbeat-icon
  width 20px
  vertical-align middle
  margin-right 5px

.user-heartbeat-bpm
  font-size 14px
  color #DE5A5A


.workout-info
  display inline-block
  vertical-align middle

.workout-name
  font-size 18px
  color black
  
.workout-timer
  font-size 14px
  color rgba(black, 40%)
  margin-top 3px

.workout-progress
  display inline-block
  vertical-align middle
  margin-left 10px
  
  > svg
    display block