.waiting-image
  width 446px
  display block
  margin 0 auto
  margin-top 20px
  margin-bottom 60px
  
.waiting-text
  text-align center
  font-size 36px
  color #808080
  b
    color black
    font-weight 500

.waiting-accept-button
  display block
  color white
  font-size 24px
  text-align center
  width 346px
  height 100px
  line-height 100px
  margin 0 auto
  text-decoration none
  background-color #36B67D
  margin-top 48px
  